<h1><%= @list.name %></h1>

<div class="errors"></div>

<%= form_for [@list, @task] do |f|%>
  <% if @task.errors.any? %>
    <div class="errors"> 
      <% @task.errors.full_messages.each do |msg| %>
        <%= msg %>
      </div>
  <% end %>
<% end %>

  <%= f.text_field :description, autofocus: true %>
  <%= f.submit %>
<% end %>

<hr />
<ul id="tasks">
  <%= render(@list.tasks) %>
</ul>
